<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row w-100">
      <!-- Logo and welcome text -->
      <div class="col-md-6 text-center">
        <img src="/assets/images/8hvSLu-LogoMakr.png" alt="Pet Website Logo" class="logo" />
        <h1>Welcome to Paw & Fur Trackers!</h1>
      </div>
  
      <!-- Sign-in form -->
      <div class="col-md-6 signinform p-4">
        <p>Please sign in to access your account.</p>
        <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" name="email" class="form-control form-control-lg" [(ngModel)]="signInDetails.email" />
          </div>
          
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control form-control-lg" [(ngModel)]="signInDetails.password" />
          </div>
      
          <button type="submit" class="submit-btn w-100">Sign In</button>
          
          <div class="links text-center mt-3">
            <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
  