<div class="home-container">
  <h1 style="color: white;">Help Us Reunite Lost Pets</h1>
</div>

<div class="mt-5">
  <h2 style="color: #004950;">Reunite with
    <span style="color: #5cd1d6;">Your Furry Friend</span>
  </h2>
  <p style="color: #004950; text-align: center; font-weight: 600;">Waiting for the sound of familiar footsteps, hoping
    to return to the warmth of home.</p>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-3 mb-4">
      <a [routerLink]="['/lost-pets', 'dog']">
        <div class="card" style="width: 100%;">
          <img class="card-img-top"
            src="https://tse4.mm.bing.net/th?id=OIP.F7QWYr2AWdxfu-5zrFbhxQHaFj&pid=Api&P=0&h=180" alt="Card image cap">
          <div class="card-body">
            <h5 class="text-align-card">Dogs</h5>
            <p class="text-align-card mt-3" style="font-size: 1.25rem;">View All</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-3 mb-4">
      <a [routerLink]="['/lost-pets', 'cat']">
        <div class="card" style="width: 100%;">
          <img class="card-img-top"
            src="https://tse1.mm.bing.net/th?id=OIP.Gh8QtnFEh8LOj1a6-Q88FQHaFj&pid=Api&P=0&h=180" alt="Card image cap">
          <div class="card-body">
            <h5 class="text-align-card">Cats</h5>
            <p class="text-align-card mt-3" style="font-size: 1.25rem;">View All</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-3 mb-4">
      <a [routerLink]="['/lost-pets', 'rabbit']">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="http://wallpapercave.com/wp/1IIYezv.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="text-align-card">Rabbits</h5>
            <p class="text-align-card mt-3" style="font-size: 1.25rem;">View All</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-3 mb-4">
      <a [routerLink]="['/lost-pets', 'other']">
        <div class="card" style="width: 100%;">
          <img class="card-img-top" src="https://wallpaperfx.com/view_image/two-blue-birds-1280x960-wallpaper-17127.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="text-align-card">Other</h5>
            <p class="text-align-card mt-3" style="font-size: 1.25rem;">View All</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="row">
      <h2 class="mt-5" style="color: #004950;">Found a lost pet?
        <span style="color: #5cd1d6;">Let’s get them back home!</span>
      </h2>
      <p class="mt-3" style="color: #004950; text-align: center; font-weight: 600;">Share information about the pet
        you’ve found, and we’ll help connect them with their owner.</p>
    </div>
    <div class="text-center">
      <button class="btn" type="button" routerLink="/add-pet">Lost/Found Pet Alert</button>
    </div>
  </div>
</section>