<div class="lost-pets-container">
    <h1>All Pets Listings</h1> 

    <div class="pets-filter-container">
        <a (click)="filterPets('')" [class.active]="!filterActive">All</a>
        <a (click)="filterPets('dog')" [class.active]="filterActive === 'dog'">Dogs</a>
        <a (click)="filterPets('cat')" [class.active]="filterActive === 'cat'" >Cats</a>
        <a (click)="filterPets('rabbit')" [class.active]="filterActive === 'rabbit'">Rabbits</a>
        <a (click)="filterPets('other')" [class.active]="filterActive === 'other'">Other</a>
    </div>

    <div class="pet-cards">
        <div *ngFor="let data of filteredData" class="pet-card">
            <img [src]="'http://localhost:3000/' + data.file_path" alt="Pet Image">
            <h3>{{data.pet_name || 'No Name'}}</h3>
            <p>Pet Type: {{data.pet_type}}</p>
            <p>Description: {{data.description}}</p>
            <p>Location: {{data.location}}</p>
            <button class="btn">Contact Info</button>
        </div>
    </div>

    <div class="pagination">
        <button>&lt;&lt; Previous</button>
        <button>1</button>
        <button>2</button>
        <button>Next &gt;&gt;</button>
    </div>
</div>
