<div class="container mt-5">
    <!-- Hero Section -->
    <div class="row">
        <div class="col-12 text-center">
            <h1>Adopt a Pet</h1>
            <p class="mt-3" style="color: #004950; font-weight: bold;">Find your new best friend today! Browse through
                the available pets.</p>
        </div>
    </div>

    <!-- Search Filters Section -->
    <div class="pets-filter-container mt-3">
        <a (click)="filterPetsByType('')" [class.active]="!filterActive">All</a>
        <a (click)="filterPetsByType('dog')" [class.active]="filterActive === 'dog'">Dogs</a>
        <a (click)="filterPetsByType('cat')" [class.active]="filterActive === 'cat'">Cats</a>
        <a (click)="filterPetsByType('rabbit')" [class.active]="filterActive === 'rabbit'">Rabbits</a>
        <a (click)="filterPetsByType('other')" [class.active]="filterActive === 'other'">Other</a>
    </div>

    <!-- Pet Cards Section -->
    <div class="row mt-5">
        <div class="col-12 col-md-3 mb-4"
            *ngFor="let pet of filteredPets | paginate: { itemsPerPage: pageSize, currentPage: p }">
            <div class="pet-card">
                <!-- Display the pet image or a default image if pet has no image -->
                <img class="pet-image"
                    [src]="'http://localhost:3000/' + (pet.file_path || '/assets/images/notavailable.jpg')"
                    alt="Pet Image">
                <div class="pet-details">
                    <h5 class="pet-title">{{ pet.pet_name || 'No Name' }}</h5>
                    <p class="pet-type">Type: {{ pet.pet_type }}</p>
                    <p class="pet-age">Description: {{ pet.description }} years</p>
                    <p class="pet-size">Location: {{ pet.location }}</p>
                    <button class="btn" routerLink="/contact-us">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>